[submodule "kicad"]
	path = kicad
	url = git@github.com:klaussnd/kicad-modules.git
[submodule "hal"]
	path = hal
	url = https://github.com/klaussnd/hal
[submodule "avr-can-lib"]
	path = firmware/avr-can-lib
	url = https://github.com/klaussnd/avr-can-lib
